.body {
  position: relative;
  width: 100%;
  max-height: 76vh;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: inherit;
  background-color: #f1f2f6;
}

.hide-show-found-recipes-button {
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 2%;
  background-color: rgb;
  border-radius: 50px;
  color: #fff;

  width: 1.9rem;
  height: 1.9rem;
}

.hide-show-found-recipes-button:hover,
.hide-show-found-recipes-button:active {
  cursor: pointer;
}

/* @media (max-width: 1000px) {
  .body {
    filter: blur(1.5px);
    pointer-events: none;
  }
} */
