.how-to-cook-it {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/3;
  /* height: 20rem; */
  background-color: #f9f5f3;
  padding: 3rem 0 3rem 0;
  position: relative;
}

.how-to-cook-it.user-recipe-mark {
  padding: 3rem 0 8rem 0;
}

.delete-recipe-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 50px;
  transition: all 300ms ease;
}

.delete-recipe-button:hover,
.delete-recipe-button:active {
  color: rgb(49, 120, 198);
  border-color: rgb(49, 120, 198);
  cursor: pointer;
}

.how-to-title {
  font-size: 1.2rem;
  color: rgb(49, 120, 198);
  margin-bottom: 2rem;
}

.how-to-paragraph {
  font-size: 1.1rem;
  text-align: center;
  max-width: 80%;
}

.directions-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.13rem;
  margin-top: 3rem;
  background-image: linear-gradient(
    to bottom right,
    rgb(49, 120, 198),
    rgb(97, 218, 251)
  );
  border-radius: 50px;
  height: 3rem;
  padding: 1.8rem 1.3rem 1.8rem 1.3rem;
  color: #fff;
  transition: all 250ms ease;
}

.directions-icon {
  font-size: 1.4rem;
  margin-left: 0.4rem;
}

.directions-button:hover {
  transform: scale(108%);
}
