.bookmarks-button {
  position: sticky;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 100%;
  padding: 1.5rem;
  transition: all 100ms ease;
  color: #596474;
}

.bookmarks-button:hover,
.bookmarks-button:active {
  background-color: #dfe4ea;
  cursor: pointer;
}

.bookmarks-button-clicked {
  background-color: #dfe4ea !important;
}

.bookmark-icon {
  margin-right: 0.4rem;
  color: rgb(49, 120, 198);
}

.bookmarked-recipes {
  width: 342px;
  z-index: 100;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #dfe4ea;
  max-height: 19rem;
  overflow-y: scroll;
}

.bookmarked-recipes::-webkit-scrollbar {
  width: 0.3rem;
}
.bookmarked-recipes::-webkit-scrollbar-thumb {
  background: rgb(49, 120, 198);
  border-radius: 100px;
}

.bookmarked-recipes::-webkit-scrollbar-track {
  background-color: #d9dadd;
  border-radius: 100px;
}

.bookmarked-recipes,
.bookmarks-button + .bookmarked-recipes {
  visibility: hidden;
  opacity: 0;
  transition: all 350ms ease-in;
}

.bookmarked-recipes:hover,
.bookmarks-button:hover + .bookmarked-recipes {
  visibility: visible;
  background-color: #dfe4ea;
  opacity: 1;
  z-index: 1000;
}

.bookmark-clicked {
  visibility: visible !important;
  opacity: 1 !important;
}

.recipes-list {
  list-style-type: none;
}

@media (max-width: 663px) {
  .bookmarks-button {
    padding: 1rem;
  }
  .bookmarks-text {
    display: none;
  }
  .bookmark-icon {
    font-size: 1.5rem;
    margin: 0;
  }
}

@media (max-width: 370px) {
  .bookmarks-button {
    padding: 0.5rem;
  }
}
