.recipe {
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease;
}

.recipe:hover {
  background-color: #f1f2f6;
  transform: translateY(-3%);
}

.recipe-photo {
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.recipe-name {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(49, 120, 198);
  max-width: 15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
}

.recipe-origin {
  color: #596474;
}

@media (max-width: 380px) {
  .recipe-name {
    max-width: 11rem;
  }
}