.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 15px;
}

.body::-webkit-scrollbar {
  width: 0.3rem;
}
.body::-webkit-scrollbar-thumb {
  background: rgb(49, 120, 198);
}

.body::-webkit-scrollbar-track {
  background-color: #aeaeb1;
}

.recipe-ingredients-title {
  text-transform: uppercase;
  margin: 2rem 0 2rem 0;
  font-size: 1.2rem;
  color: rgb(49, 120, 198);
}

.ingredients {
  padding: 1.5rem;
  display: grid;
  justify-items: center;
}

.ingredients-list {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 3rem;
  align-items: center;
}

.check-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: rgb(49, 120, 198);
  display: flex;
  align-items: center;
}

.single-ingredient {
  display: flex;
  justify-self: start;
  align-items: flex-start;
}

@media (max-width: 375px) {
  .ingredients-list {
    grid-template-columns: 1fr;
  }

}
