.body {
  display: grid;
  grid-template-columns: minmax(346px, 1fr) 3fr;
  height: 76%;
  border-radius: inherit;
  position: relative;
}

@media (max-width: 1000px) {
  .body {
    grid-template-columns: 1fr;
    position: relative;
  }
}
