.recipe-details {
  display: flex;
  background-color: #fff;
  flex-direction: row;
  /* width: 100%; */
  height: 15%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 3rem 1.5rem 3rem 1.5rem;
}
.timing-and-servings {
  display: flex;
  flex-wrap: wrap;
  color: #596474;
}

.text-highlighted {
  color: #24282e;
}

.timing {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.timing-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: rgb(49, 120, 198);
}

.servings {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.servings-span {
  display: flex;
  align-items: center;
}

.servings-icon {
  font-size: 1.7rem;
  margin-right: 0.5rem;
  color: rgb(49, 120, 198);
}

.servings-buttons {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-left: 0.6rem;
  font-size: 1.5rem;
  color: rgb(49, 120, 198);
}

.servings-buttons:hover,
.servings-buttons:active {
  cursor: pointer;
}

.servings-buttons .plus,
.servings-buttons .minus {
  transition: all 300ms ease;
}

.servings-buttons .plus:hover,
.servings-buttons .minus:hover {
  transform: translateY(-8%);
}

.bookmark {
  display: flex;
  font-size: 1.5rem;
  color: #fff;
  background-image: linear-gradient(
    to top right,
    rgb(49, 120, 198),
    rgb(97, 218, 251)
  );
  padding: 0.7rem;
  border-radius: 50%;
  margin-right: 3rem;
  transition: all 300ms ease;
}

.bookmark:hover {
  transform: scale(108%);
}

.bookmark:hover,
.bookmark:active {
  cursor: pointer;
}

@media (max-width: 450px) {
  .timing,
  .servings {
    margin-left: 1rem;
  }
  .bookmark {
    margin-right: 1rem;
  }
}

@media (max-width: 375px) {
  .recipe-details {
    padding: 3rem 0.5rem 3rem 0.5rem;
  }
  .timing,
  .servings {
    margin-left: 0rem;
  }
  .bookmark {
    margin-right: 0rem;
  }
}
