.header {
  z-index: 9;
  height: 12vh;
  width: 100%;
  background-color: #f9f5f3;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.98rem;
  position: relative;
}

.logo {
  height: 55%;
}

.logo-simples {
  height: 55%;
  display: none;
}

.header-buttons {
  display: flex;
  height: 100%;
}

@media (max-width: 530px) {
  .logo {
    display: none;
  }
  .logo-simples {
    display: block;
  }
}
