.header {
  z-index: 9;
  height: 12%;
  width: 100%;
  background-color: #f9f5f3;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.98rem;
  position: relative;
}

.error-message {
  display: none;
}

.logo {
  height: 55%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.logo-simples {
  height: 55%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: none;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  height: 100%;
}

.loading-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: none;
}

@media (max-width: 1000px) {
  .loading-bar {
    display: inline-block;
  }
  .error-message {
    display: inline-block;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: red;
    font-weight: 700;
  }
  .found-recipes-open {
    filter: blur(1.5px);
    pointer-events: none;
  }
}

@media (max-width: 530px) {
  .logo {
    display: none;
  }
  .logo-simples {
    display: block;
  }
}
