.starting-message {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.2rem;
    color: #596474;
    /* width: 100%; */
  }
  
  .starting-message-emoji {
    margin-right: 0.5rem;
    font-size: 1.6rem;
    color: rgb(49, 120, 198);
  }
  