.body {
  position: relative;
  z-index: 8;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: inherit;
  background-color: #f1f2f6;
  overflow-y: scroll;
  transition: all 300ms ease;
}

.user-recipe-mark {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 100;
  color: #fff;
  font-size: 1.7rem;
}

.starting-message {
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding: 0 1rem 0 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #596474;
}

.fetch-found-recipes-error-message.error-message {
  visibility: hidden;
}

.error-message {
  position: absolute;
  font-weight: 700;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
  padding: 0.3rem;
  background-color: #f1f2f6;
  color: red;
}

.starting-message-emoji {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  color: rgb(49, 120, 198);
}

.loading-bar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.body::-webkit-scrollbar {
  width: 0.3rem;
}
.body::-webkit-scrollbar-thumb {
  background: rgb(49, 120, 198);
}

.body::-webkit-scrollbar-track {
  background-color: #aeaeb1;
}


@media (max-width: 1000px) {
  .body.found-recipes-open {
    filter: blur(1.5px);
    pointer-events: none;
  }

  .fetch-found-recipes-error-message.error-message {
    visibility: visible;
  }
}

@media (max-width: 567px) {
  .starting-message-emoji {
    margin-bottom: 0.5rem;
  }
}
