.body {
  position: relative;
  width: 100%;
  height: 76vh;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: inherit;
  background-color: #f1f2f6;
  overflow-y: scroll;
}
.body::-webkit-scrollbar {
  width: 0.3rem;
}
.body::-webkit-scrollbar-thumb {
  background: rgb(49, 120, 198);
}

.body::-webkit-scrollbar-track {
  background-color: #aeaeb1;
}

@media (max-width: 1000px) {
  .body {
    height: 78vh;
  }
  .body.show-found-recipes {
    filter: blur(1.5px);
    pointer-events: none;
  }
}
