.delete-recipe-overlay {
  z-index: 100;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.delete-recipe-card {
  display: none;
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 50%;
  /* min-width: 35%; */
  max-width: 90%;
  max-height: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  color: #596474;
  padding: 1rem 2rem;
}

.show-card {
  display: block;
}

.delete-card-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.delete-card-content h2 {
    font-size: 1.8rem;
    text-align: center;
}

.delete-card-buttons {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-top: 3rem;
}

.button {
    font-size: 3rem;
    cursor: pointer;
}

.button.decline-button {
    color: red;
}

.deleted-recipe-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.deleted-recipe-text {
  font-size: 1.5rem;
}