.found-recipes {
  z-index: 3;
  width: 100%;
  height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 300ms ease;
}

.error-message {
  position: absolute;
  font-weight: 700;
  top: 1%;
  text-align: center;
  color: red;
}

.loading {
  position: absolute;
  width: 100%;
  color: rgb(49, 120, 198);
}

.found-recipe-controller-buttons {
  display: none;
}

.no-recipes-searched {
  display: none !important;
}

.found-recipes-controller {
  color: #fff;
  font-size: 2.5rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.found-recipes-controller:hover,
.found-recipes-controller:active {
  cursor: pointer;
}

.recipes {
  overflow-y: auto;
  width: 100%;
}

.recipes::-webkit-scrollbar {
  width: 0.5rem;
}
.recipes::-webkit-scrollbar-thumb {
  background: rgb(49, 120, 198);
}

.recipes::-webkit-scrollbar-track {
  background-color: #d9dadd;
}

@media (max-width: 1000px) {
  .found-recipes {
    z-index: 100;
    position: absolute;
    transform: translateX(-100%);
    top: 0%;
    transition: all 300ms ease;
    max-width: max-content;
    background-color: white;
    height: 76vh;
  }

  .found-recipe-controller-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    top: 2%;
    left: 100%;
    z-index: 1;
    background-image: linear-gradient(
      to top right,
      rgb(49, 120, 198),
      rgb(97, 218, 251)
    );
    border-radius: 50px;
  }

  .show-found-recipes {
    transform: translateX(0%) !important;
  }
  .error-message {
    display: none;
  }
}

@media (max-width: 330px) {
  .found-recipe-controller-buttons {
    margin: 0;
    left: 101%;
    width: 2rem;
    height: 2rem;
  }
}
